body {
  background-color: #f5f7fa;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1270px;
  background: #ffffff;
  /* margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
  color: #000000;
}

/* main contant section */
.main-contant {
  padding: 70px 50px 70px 50px;
  font-size: 16px;
  font-weight: bold;
  flex-basis: 0;
}

.main-contant-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 27px;
  color: #1e0139;
  margin-bottom: 10px;
}

/* about me section */
.about-me {
  margin: 0 0 28px 0;
}

.about-me-profession {
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 17px;
  color: #1e0139;
}

.about-me-name {
  color: #1e0139;
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  /* text-shadow: 0px 1px 2px; */
}

.about-me-description {
  width: 720px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  /* color: #0e2e22; */
}

/* my projects section */
.my-projects {
  margin: 0 0 36px 0;
}

.my-projects-list {
  padding: 0 0 0 17px;
}

.my-projects-item {
  color: #1e0139;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.my-projects-text {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-left: 5px;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1e0139;
}

.my-projects-description {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.my-projects-bracket {
  font-style: normal;
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 24px;
  /* color: #000000; */
}

/* my work experience section */

.my-work-experience {
  margin-bottom: 28px;
}

.my-work-experience-company-block {
  margin: 0 0 15px 0;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* color: #000000; */
  margin: 0 0 4px 0;
}

.my-work-experience-company {
  color: #ae0040;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: #1e0139;
  margin: 0 0 10px 0;
}

.my-work-experience-divider {
  color: #000000;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1e0139;
}

/* my education section */
.my-education {
  margin: 24px 0 0 0;
}

.my-education-university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ae0040;
  margin: 0 0 10px 0;
}

.my-education-specialty {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  /* color: #000000; */
  margin: 0 0 4px 0;
}

.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: #1e0139;
  margin-top: 0;
}

/* .my-education-divider {
  color: #000000;
} */

/* sidebar section */
.sidebar-section {
  /* flex-basis: 350px; */
  padding: 70px 60px;
  background: #f9f9f9;
  font-size: 24px;
  font-weight: 500;
  /* color: #000000; */
}

.contacts-section p {
  margin-top: 0;
}

.sidebar-section img {
  width: 100%;
}

.contacts-section,
.skills-section {
  margin: 50px 0 0 0;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #1e0139;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* contacts section */
.contacts-section-type {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* color: #ffffff; */
  margin-right: 7px;
}
.contacts-section-link {
  display: block;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  margin-bottom: 7px;
}
.contacts-section-link-undeline {
  text-decoration: underline;
}

/*  skills section */
.skills-list {
  padding: 0 0 0 17px;
}

.skills-item {
  color: #ae0040;
}

.skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
